* {
    font-family: Verdana, Tahoma, sans-serif;
}

div#card-container p {
    margin: 5px 0px 0px 0px;
}

#card-container {
    margin-left: 400px;
    margin-right: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
    margin: 20px 50px 20px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.2), 0 6px 20px 0 rgba(133, 133, 133, 0.19);
}

.provider-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 5px 10px 5px;
}

div.card-img img {
    border-radius: 50px;
    max-width: 75%;
    align-self: flex-start;
}

.card-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.card-info {
    flex: 3;
}

.card-dates {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.location-card {
    display: flex;
    padding: 10px 5px 20px 5px;
}

.work-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

div.work-img img {
    max-width: 75%;
    border-radius: 50px;
}

.work-info {
    flex: 5;
}